<div class="row" ng-init="initLogin()">
	<form ng-submit="login()" class="col s12">
		<div class="card-panel">
			<div class="col s12 l6">
				<div class="input-field col s12">
					<input type="text" name="userName" ng-model="user.userName" id="username" required />
					<label class="active" for="username">Benutzername</label>
				</div>
			</div>
			<div class="col s12 l6">
				<div class="input-field col s12">
					<input type="password" name="password" ng-model="user.password" id="password" required/>
					<label class="active" for="password">Kennwort</label>
				</div>
			</div>
			<div class="card-action center-align">
				<button class="waves-effect waves-light btn" type="submit" title="Login">
					<i class="mdi-content-send right"></i>
					Anmelden
				</button>
			</div>
		</div>
	</form>
</div>