<div class="row" ng-init="initLogin()">
	<form ng-submit="login()" class="col s12">
		<div class="col s12 l6">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="userName" ng-model="user.userName" id="username" required />
				<label class="mdl-textfield__label" for="username">Benutzername</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" name="password" ng-model="user.password" id="password" required />
				<label class="mdl-textfield__label" for="password">Kennwort</label>
			</div>
		</div>
		<div class="card-action center-align">
			<button class="mdl-button mdl-js-button mdl-button--raised" type="submit" title="Login">
				<i class="mdi-content-send right"></i>
				Anmelden
			</button>
		</div>
	</form>
</div>