@media screen, projection {
	header, main, footer, .tabs {
		padding-left: 120px;
	}

	main {
		margin-top: 20px;
	}

	.top-nav .nav-wrapper .brand-logo {
		right: 220px;
		left: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 24px;
	}

	.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
		background-color: #d32f2f;
	}

	input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
		border-bottom: 1px solid #d32f2f;
		box-shadow: 0 1px 0 0 #d32f2f;
	}

		a, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
			color: #d32f2f;
		}

	.input-field .prefix.active {
		color: #d32f2f;
	}

	[type="checkbox"]:checked + label:before {
		border-right: 2px solid #d32f2f;
		border-bottom: 2px solid #d32f2f;
	}

	.btn, .btn-large {
		background-color: #d32f2f;
	}

		.btn:hover, .btn-large:hover {
			background-color: #d32f2f;
			opacity: .9;
		}

	button:focus {
		outline: none;
		background-color: #d32f2f;
		opacity: .8;
	}

	.collection {
		border: none;
	}

	.collection a.collection-item {
		color: #d32f2f;
	}

		.collection a.collection-item:not(.active):hover {
			background-color: #d32f2f;
			color: #fff;
		}
}

@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}

	.top-nav .nav-wrapper .brand-logo {
		right: 50px;
		left: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
	}
}
