/*$brown: #795548;

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
	-webkit-box-shadow: $top $left $blur $color #{$inset};
	-moz-box-shadow: $top $left $blur $color #{$inset};
	box-shadow: $top $left $blur $color #{$inset};
}

body {
	background: #efefef;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media screen, projection {
	header, main, footer {
		padding-left: 100px;
	}

	main {
		margin-top: 20px;
	}

	.top-nav .nav-wrapper .brand-logo {
		right: 220px;
		left: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
		border-bottom: 1px solid $brown;
		box-shadow: 0 1px 0 0 $brown;
	}

		input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
			color: #795548;
		}

	.input-field .prefix.active {
		color: #795548;
	}

	[type="checkbox"]:checked + label:before {
		border-right: 2px solid $brown;
		border-bottom: 2px solid $brown;
	}

	.btn, .btn-large {
		background-color: $brown;
	}

		.btn:hover, .btn-large:hover {
			background-color: $brown;
			opacity: .9;			
		}

	button:focus {
		outline: none;
		background-color: $brown;
		opacity: .8;
	}
}

@media only screen and (max-width: 992px) {
	body {
		background: #fff;
	}

	header, main, footer {
		padding-left: 0;
	}

	.top-nav .nav-wrapper .brand-logo {
		right: 0px;
		left: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		@include transform(none);
	}

	.card-panel, .card {
		@include box-shadow(0,0,0,#fff);
	}

	.card .card-action {
		border-top: none;
	}
}*/
