<!DOCTYPE html>
<html lang="de" data-ng-app="Schmond">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-TextLayoutMetrics" content="natural" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/content/materialize/css/materialize.min.css" media="screen,projection">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"> TODO change in production -->
	<link rel="stylesheet" href="/content/materialize/css/extensions.css" media="screen,projection">
	<link rel="stylesheet" href="/content/site.css" media="screen,projection">
	<link rel="stylesheet" href="/content/spinner.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="/scripts/jquery-2.1.1.min.js"></script>
	<script src="/scripts/angular.min.js"></script>
	<script src="/scripts/angular-route.min.js"></script>
	<script src="/scripts/angular-local-storage.min.js"></script>
	<script src="/scripts/checklist-model.js"></script>
	<title>Die Legion</title>
</head>
<body class="fixed-footer hide-cards-on-mobile hide-chrome-autofill-color" ng-controller="indexController as app">
	<header class="z-depth-1" ng-init="app.init()">
		<nav class="top-nav white">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" ng-hide="page.goBack" data-activates="nav-mobile" class="button-collapse top-nav full grey-text text-darken-3">
						<i class="mdi-navigation-menu"></i>
					</a>
					<a href="{{ page.goBack }}" ng-show="page.goBack" class="nav-button top-nav grey-text text-darken-3 hide-on-large-only">
						<i class="material-icons">&#xE5C4;</i>
					</a>
					<ul class="right hide-on-med-and-down">
						<li ng-class="{ active: isActive('/profile')}" ng-hide="!app.authentication.isAuth">
							<a class="grey-text text-darken-3" href="/#/profile">Mein Profil</a>
						</li>
						<li ng-hide="!app.authentication.isAuth">
							<a class="grey-text text-darken-3" ng-click="logOut()">Abmelden</a>
						</li>
						<li ng-class="{ active: isActive('/register')}" ng-hide="app.authentication.isAuth">
							<a class="grey-text text-darken-3" href="/#/register">Registrieren</a>
						</li>
						<li ng-class="{ active: isActive('/login')}" ng-hide="app.authentication.isAuth">
							<a class="grey-text text-darken-3" href="/#/login">Anmelden</a>
						</li>
					</ul>
					<a class="brand-logo grey-text text-darken-3" ng-bind="page.title"></a>
				</div>
			</div>
		</nav>
		<ul class="tabs ng-hide" ng-show="tabs.length">
			<li class="tab" ng-repeat="tab in tabs">
				<a ng-click="tab.click">{{ tab.text }}</a>
			</li>
		</ul>
		<div class="progress hide-on-med-and-up ng-hide" ng-show="loading">
			<div class="indeterminate"></div>
		</div>
	</header>
	<ul id="nav-mobile" class="side-nav fixed z-depth-2" ng-cloak>
		<li class="logo">
			<a id="logo-container" href="/#/home" class="brand-logo hide-nav">
				<img alt="logo" src="logo.svg" width="180" />
			</a>
		</li>
		<li ng-class="{ active: isActive('/players')}" class="bold">
			<a href="/#/players" class="waves-effect waves-ripple hide-nav" data-activates="nav-mobile">Mitglieder</a>
		</li>
		<li class="no-padding" ng-hide="!app.authentication.isAuth">
			<ul class="collapsible collapsible-accordion">
				<li class="bold" ng-class="{ active: isActive('/lootlists')}">
					<a class="collapsible-header waves-effect waves-ripple" ng-class="{ active: isActive('/lootlist')}">Lootlisten</a>
					<div class="collapsible-body" ng-controller="instanceController as instanceController">
						<ul>
							<li ng-class="{ active: isActive('/lootlists/' + instance.id )}" ng-repeat="instance in instanceController.instances">
								<a href="/#/lootlists/{{ instance.id }}" class="waves-effect waves-ripple hide-nav">{{ instance.name }}</a>
							</li>
							<!--<li> TODO Feature: Create instance
								<a ng-click="create()" class="waves-effect waves-ripple hide-nav">
									<i class="material-icons">&#xE145;</i>
									Neue Instanz
								</a>
							</li>-->
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding" ng-hide="!app.authentication.isAuth">
			<ul class="collapsible collapsible-accordion">
				<li class="bold" ng-class="{ active: isActive('/admin')}">
					<a class="collapsible-header waves-effect waves-ripple" ng-class="{ active: isActive('/admin')}">Administration</a>
					<div class="collapsible-body">
						<ul>
							<li ng-class="{ active: isActive('/admin/races')}">
								<a href="/#/admin/races" class="waves-effect waves-ripple hide-nav">Rassen</a>
							</li>
							<li ng-class="{ active: isActive('/admin/classes')}">
								<a href="/#/admin/classes" class="waves-effect waves-ripple hide-nav">Klassen</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="logo hide-on-large-only">&nbsp;</li> <!-- workaround to get space and a border between this and the upper item -->
		<li class="hide-on-large-only bold" ng-class="{ active: isActive('/profile')}" ng-hide="!app.authentication.isAuth">
			<a href="/#/profile" class="waves-effect waves-ripple hide-nav">Mein Profil</a>
		</li>
		<li class="hide-on-large-only bold" ng-hide="!app.authentication.isAuth">
			<a ng-click="logOut()" class="waves-effect waves-ripple hide-nav">Abmelden</a>
		</li>
		<li class="hide-on-large-only bold" ng-class="{ active: isActive('/register')}" ng-hide="app.authentication.isAuth">
			<a href="/#/register" class="waves-effect waves-ripple hide-nav">Registrieren</a>
		</li>
		<li class="hide-on-large-only bold" ng-class="{ active: isActive('/login')}" ng-hide="app.authentication.isAuth">
			<a href="/#/login" class="waves-effect waves-ripple hide-nav">Anmelden</a>
		</li>
	</ul>
	<main>
		<div class="container">
			<div class="ng-cloak">
				<div class="modal modal-fixed-footer" id="modal">
					<div class="modal-content">
						<h4 class="ng-hide" ng-show="header != ''">{{ modalHeader }}</h4> {{ modalMessage }}
					</div>
					<div class="modal-footer">
						<a href="{{ modalLink }}" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
					</div>
				</div>
				<svg alt="Lade..." class="ng-hide spinner hide-on-small-only" ng-show="loading" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
					<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
				</svg>
			</div>
			<div data-ng-view="">
			</div>
		</div>
	</main>
	<md-footer md-links="app.footerLinks" md-copyright="Die Legion, All rights reserved"></md-footer>
	<script src="/scripts/materialize/materialize.min.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> TODO change in production -->

	<script src="/app/app.js"></script>

	<script src="/app/controllers/indexController.js"></script>
	<script src="/app/controllers/accountController.js"></script>
	<script src="/app/controllers/raceController.js"></script>
	<script src="/app/controllers/classController.js"></script>
	<script src="/app/controllers/instanceController.js"></script>
	<script src="/app/controllers/lootlistController.js"></script>

	<script src="/app/services/authService.js"></script>
	<script src="/app/services/authInterceptorService.js"></script>
	<script src="/app/services/instanceService.js"></script>
	<script src="/app/services/bossService.js"></script>
	<script src="/app/services/itemService.js"></script>
	<script src="/app/services/needTypeService.js"></script>

	<script src="/app/directives/footerDirective.js"></script>

	<script type="text/javascript">
		$('.button-collapse').sideNav();

		$(document).ready(function () {
			// hides sidebar after click
			$('body').on('click', '.hide-nav', function () {
				$('#sidenav-overlay').trigger('click');
			});
			$('.collapsible').collapsible({
				accordion: false
			});
		});
	</script>
</body>
</html>