<footer class="page-footer z-depth-1 grey darken-3">
    <div class="container">
        <div class="col l4 offset-l2 s12">
            <ul>
                {{ links }}
                <li ng-repeat="link in links">
                    <a class="white-text" href="/#/imprint">
                        Impressum
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            <div class="row">
                <span class="white-text col s12 m6">© 2015-{{ getDateNow() | date:'yyyy'}} Die Legion, All rights reserved.</span>
                <span class="white-text col s12 m6 right-align hide-on-small-and-down">v. 1.0.0</span>
            </div>
        </div>
    </div>
</footer>