<footer class="page-footer z-depth-1 grey darken-3">
	<div class="container">
		<div class="col l4 offset-l2 s12">
			<ul>
				<li ng-repeat="link in links">
					<a class="white-text" href="{{ link.url }}">
						{{ link.text }}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright grey darken-4">
		<div class="container">
			<div class="row">
				<div class="white-text col s12 m6" ng-show="copyright">
					© <span ng-show="since">{{ since }}-{{ dateNow | date:'yyyy'}}</span> {{ copyright }}
				</div>
				<span ng-show="version" class="right white-text col s12 m6 right-align hide-on-small-and-down">v. {{ version }}</span>
			</div>
		</div>
	</div>
</footer>