<div class="fixed-action-btn" style="bottom: 48px; right: 24px;">
	<a class="btn btn-floating btn-large waves-effect waves-light modal-trigger red" ng-click="show('create')" title="Rasse erstellen">
		<i class="mdi-content-add"></i>
	</a>
</div>

<div class="row ng-hide" data-ng-init="initIndex()" ng-show="races.length > 0">
	<div class="col s12">
		<div class="collection z-depth-1">
			<a class="collection-item" href="/#/admin/races/{{ race.id }}" ng-repeat="race in races">
				{{ race.name }}
			</a>
		</div>
	</div>
</div>

<div class="modal" id="create">
	<form ng-submit="create()">
		<div class="modal-content">
			<h4 class="ng-hide"></h4>

		</div>
		<div class="modal-footer">
			<a ng-click="" class="modal-action modal-close waves-effect waves-green btn-flat">Erstellen</a>
		</div>
	</form>
</div>